@charset "utf-8";
/**
 * Rest style sheet
 * Author: Feil.Wang
 * E-mail: 47655235@qq.com
 * Date Modified: 2015.02.03
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, button, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; font-style: normal; vertical-align: baseline; outline: none; -webkit-text-size-adjust: none; box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input::-moz-focus-inner { border: 0; padding: 0; }
h1 { font-size: 20px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
a { color: #333; text-decoration: none; }
.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.clear { clear: both; height: 0; overflow: hidden; }

html,body{ height:100%; color:#333333; font-size:14px;}
.header{width:100%; height:45px; padding:5px 15px; background-color:#f2f2f2;}
.footer{ position:fixed; left:0; bottom:0; width:100%; height:40px; font-size:16px; background-color:#ffd37c; color:#fff; line-height:40px; text-align:center;}
.panel{ padding-bottom:50px;}

.logo{ width:35px; height:35px; float:left;}
.logo img{ width:100%; height:100%; vertical-align:middle;}
.app-name{ float:left; margin:11px 0 0 5px;}
.btn-dl{ float:right; display:inline-block; width:65px; height:25px; line-height:25px; border:1px solid #01c698; color:#01c698; text-align:center; font-size:12px; margin:5px 0; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.separable{ height:10px; background-color:#f2f2f2; line-height:0; overflow:hidden; clear:both;}
.teacher-hd{ height:80px; padding:10px 15px; background-color:#fff;}
.avatar{ float:left; width:60px; height:60px;}
.avatar img{ width:100%; height:100%; vertical-align:middle; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}
.teacher-hd dl{ float:left; margin-left:10px; margin-top:2px;}
.teacher-hd dd{ margin-top:5px;}
.teacher-name{ vertical-align:middle; margin-right:5px; font-size:15px; }
.icon-sex{ width:16px; height:16px; display:inline-block; vertical-align:middle; background-size:16px 16px;}
.icon-male{ background-image:url("../images/icon-male@2x.png");}
.icon-female{ background-image:url("../images/icon-female@2x.png");}
.teacher-type{ color:#aeaeae; font-size:12px;}
.icon-star{ width:88px; height:13px; background-image:url("../images/star@2x.png"); background-size:88px 65px;}
.star-level-1{ background-position:0 0;}
.star-level-2{ background-position:0 -13px;}
.star-level-3{ background-position:0 -26px;}
.star-level-4{ background-position:0 -39px;}
.star-level-5{ background-position:0 -52px;}

.teacher-bd{}
.section{ padding:10px 15px; border-bottom:1px solid #efefef;}
.section .title{ color:#aeaeae; margin-bottom:8px;}
.section .content{ line-height:22px;}
.section:last-child{ border-bottom:none;}