<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuri.ynweb.dao.WebBannerMapper">
  <resultMap id="BaseResultMap" type="com.yuri.ynweb.pojo.WebBanner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pic_pc" jdbcType="VARCHAR" property="picPc" />
    <result column="pic_mobile" jdbcType="VARCHAR" property="picMobile" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from web_banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuri.ynweb.pojo.WebBanner">
    insert into web_banner (id, pic_pc, pic_mobile, 
      order_id, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{picPc,jdbcType=VARCHAR}, #{picMobile,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuri.ynweb.pojo.WebBanner">
    update web_banner
    set pic_pc = #{picPc,jdbcType=VARCHAR},
      pic_mobile = #{picMobile,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pic_pc, pic_mobile, order_id, create_time, update_time
    from web_banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, pic_pc, pic_mobile, order_id
    from web_banner order by order_id
  </select>
</mapper>