<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuri.ynweb.dao.WebCaseMapper">
  <resultMap id="BaseResultMap" type="com.yuri.ynweb.pojo.WebCase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pic_pc" jdbcType="VARCHAR" property="picPc" />
    <result column="pic_mobile" jdbcType="VARCHAR" property="picMobile" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="text" jdbcType="LONGVARCHAR" property="text" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from web_case
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuri.ynweb.pojo.WebCase">
    insert into web_case (id, pic_pc, pic_mobile, 
      order_id, create_time, update_time, 
      text)
    values (#{id,jdbcType=INTEGER}, #{picPc,jdbcType=VARCHAR}, #{picMobile,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{text,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuri.ynweb.pojo.WebCase">
    update web_case
    set pic_pc = #{picPc,jdbcType=VARCHAR},
      pic_mobile = #{picMobile,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      text = #{text,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pic_pc, pic_mobile, order_id, create_time, update_time, text
    from web_case
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, pic_pc, pic_mobile, order_id, create_time, update_time, text
    from web_case
  </select>
  <select id="getCasePage" resultMap="findDetailMap">
      SELECT id, pic_pc, pic_mobile, text FROM web_case ORDER BY order_id
    </select>
  <resultMap id="findDetailMap" type="map">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="picPc" column="pic_pc"/>
    <result property="text" column="text"/>
    <collection property="picList" column="id" ofType="map" javaType="java.util.List"
                select="getPicsByCaseId">
      <result property="picPc" column="pic_pc"/>
      <result property="picMobile" column="pic_mobile"/>
    </collection>
  </resultMap>
  <select id="getPicsByCaseId" parameterType="java.lang.Integer" resultType="map">
      select pic_pc, pic_mobile from web_case_pic where case_id=#{caseId} order by order_id
  </select>
  <select id="getCasePageBackend" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select id, pic_pc, pic_mobile, text
      from web_case  order by order_id
    </select>

</mapper>