<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuri.ynweb.dao.WebProductParamMapper">
  <resultMap id="BaseResultMap" type="com.yuri.ynweb.pojo.WebProductParam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="parm_name" jdbcType="VARCHAR" property="parmName" />
    <result column="parm_value" jdbcType="VARCHAR" property="parmValue" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from web_product_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuri.ynweb.pojo.WebProductParam">
    insert into web_product_param (id, product_id, parm_name, 
      parm_value, order_id, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{parmName,jdbcType=VARCHAR}, 
      #{parmValue,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuri.ynweb.pojo.WebProductParam">
    update web_product_param
    set product_id = #{productId,jdbcType=INTEGER},
      parm_name = #{parmName,jdbcType=VARCHAR},
      parm_value = #{parmValue,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, product_id, parm_name, parm_value, order_id, create_time, update_time
    from web_product_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, parm_name, parm_value, order_id, create_time, update_time
    from web_product_param
  </select>
</mapper>